/**************
 * Typography *
 **************/

body {	
	font: 14px Verdana, Arial, sans-serif;	
}

h1 { font-size: xx-large; }

h2 { font-size: x-large; }

h3 { font-size: large; }

a, a:visited {
	color: #000000;	
}

strong {
	font-weight: bold;
}

ol {
	list-style: decimal;
	margin-left: 24px;	
}

/* Header */

header {
	color: #eaeaea;
	text-align: center;
}

header h3 {
	text-align: center;
}

/* Logo */

.logo {
	text-shadow: 0px 0px 8px #000000;
}

.logo a {
	text-decoration: none;
}

.logo a:hover {
	text-decoration: none;
}

.logo h1 {
	color: #eaeaea;
	font-weight: bold;
	font-size: 45px;
}

.logo h1 span {
	color: #33cc00;
}

/* Nav */

nav {
	font-size: larger;	
}

nav a {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Footer */

footer {
	font-size: smaller;
}

/**********
 * Layout *
 **********/

body {
	padding-bottom: 20px;
}

.main {	
	max-width: 960px;
	min-width: 480px;
	margin: auto;
}

/* Header */

.header-backing {
	width: 100%;
	height: 420px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	background: url('../images/header-sliver.jpg') top left repeat-x;
}

header {
	width: 100%;
	padding: 130px 0px 0px 0px;
	height: 220px;	
}

header h3 {
	margin: 30px 0px 0px 0px;	
}

/* Fork Me */

 .fork-me {
	display: block;
	width: 149px;
	height: 149px;	
	position: absolute;
	top: 0px;
	right: 0px;
	background: url('../images/fork-me.gif') top left no-repeat;
 }

/* Nav */

nav {	
	padding: 0px 0px 60px 0px;
}

nav li {
	float: left;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 2px solid #777777;
}

nav li.last {
	border: none;
}

/* Footer */

footer {
	padding: 10px 0px 0px 0px;
	border-top: thin solid #777777;	
}